.App {
  margin-top: 30px;
}

.header {
  text-align: center;
}

.zoom-controls {
  margin-bottom: 20px;
}

.button {
  height: 35px;
  margin-right: 10px;
  background-color: cadetblue;
  border: none;
  border-radius: 4px;
  color: whitesmoke;
}

.organizational-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  margin: 0 5px;
}

.node button {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.thead {
  background-color: aqua;
}
.name {
  font-weight: bold;
  width: 169px;
  font-size: 16px;
}

.designation {
  width: 200px;
  margin-top: 5px;
  color: #666;
}

.email {
  width: 207px;
}

.manager {
  width: 95px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  color: #888;
}

.count-head {
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}

.toggle-button {
  width: 92px;
  height: 30px;
  font-size: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-btn {
  width: 92px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.organizational-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
}

.sub-chart {
  width: 30px;
  height: 20px;
}

.organizational-chart th,
.organizational-chart td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
